@import "../../../Variables.scss";

.game-result {
  .game-card--played {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    margin-bottom: 1rem;

    .separator {
      margin: 0 auto;
    }
  }

  .buttons-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
