@import "../../../Variables.scss";

.game-result {
  .player-result {
    display: flex;
    justify-content: space-evenly;
  }
  span.message-card {
    margin: 0;
  }
  .buttons-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
}
