.welcome-screen {
  .container {
    .intro {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      text-align: center;

      img {
        max-width: 20rem;
      }

      h1 {
        font-weight: 900;
      }

      .separator {
        margin: 0 auto;
        margin-bottom: 1rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .welcome-screen {
    .container {
      .intro {
        img {
          display: none;
        }
      }
    }
  }
}
