@import "../../../Variables.scss";

.play {
  .choices {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 3rem;
    padding: 2rem 7rem;

    label {
      img {
        cursor: pointer;
        width: 10rem;

        &:hover {
          transform: scale(1.1);
        }
      }
      input[type="radio"] {
        display: none;
      }
    }
  }
  .buttons-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}

@media screen and (max-width: 992px) {
  .play {
    .choices {
      padding: 2rem 2rem;
    }
  }
}

@media screen and (max-width: 768px) {
  main.play {
    .container {
      padding: 4rem 1rem;

      .choices {
        padding: 0;
        clip-path: none;
        background-color: transparent;
        background-image: none;
        margin-top: 2rem;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  main.play {
    .container {
      .choices {
        flex-direction: column;
        gap: 0.5rem;
      }
    }
  }
}
