@import "../../../Variables.scss";

.page-not-found {
  .img-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
      max-width: 12rem;
    }
  }

  .text-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;

    h3 {
      font-size: 7rem;
      color: $secondary-color;
    }
  }
}

@media screen and (max-width: 998px) {
  .page-not-found {
    .img-col {
      display: none;
    }
    .text-col {
      gap: 1rem;
      align-items: center;
      text-align: center;
    }
  }
}
