@import '../../Variables.scss';

footer {
  p {
    margin-bottom: 0;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $text-color;

    a {
      color: $primary-color;
      transition: $main-transition;

      &:hover {
        color: $secondary-color;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  footer .footer-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
