@import "../../Variables.scss";

.multi-player-start-screen {
  .img-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
      max-width: 400px;
    }
  }

  .text-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .multi-player-start-screen {
    .text-col {
      gap: 20px;
      align-items: center;
      text-align: center;
    }
  }
}
