@import "../../../Variables.scss";

.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 30%;
  margin: 0 auto;

  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    label {
      width: 100%;
      font-size: 0.7rem;

      input {
        width: 100%;
        border: none;
        background: none;
        border-bottom: 0.05rem solid $dark-background-color;
        outline: none;
        padding: 0.5rem 0;
        font-size: 1rem;
      }
    }
  }
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-weight: 700;
  margin-top: 1rem;

  a {
    color: $secondary-color;
  }
}

@media screen and (max-width: 1200px) {
  .register-container {
    width: 40%;
  }
}

@media screen and (max-width: 992px) {
  .register-container {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .register-container {
    width: 90%;
  }
}
