$primary-color: #deb400;
$secondary-color: #ff451b;

$dark-background-color: hsl(0, 0%, 27%);
$background-shape-color: #dcdac1;
$text-color: #444444;
$light-text-color: #e6e6e6;

$selection-color: #c5c2ab;

$main-transition: ease-in-out .25s;
$border-radius: 20px;