$primary-color: #deb400;
$secondary-color: #ff451b;
$secondary-color-faded: #fb7e61;
$accent-color: #009688;
$accent-color-faded: #01a796;

$dark-background-color: #444444;
$background-shape-color: #dcdac1;
$text-color: #444444;
$light-text-color: #e6e6e6;

$selection-color: #c5c2ab;

$main-transition: ease-in-out .25s;
$border-radius: 20px;