@import "../../Variables.scss";

.fetch-error-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  background-color: $danger-color;
  background-image: url("../../assets/img/bg.png");
  color: $light-text-color;
  padding: 2rem;
  border: none;
  clip-path: polygon(0% 0%, 5% 100%, 87% 88%, 99% 90%, 94% 4%);
  max-width: fit-content;

  h5,
  p {
    color: $light-text-color;
  }

  svg {
    width: 50px;
    height: auto;
  }
}
