@import "../../Variables.scss";

header {
  background-color: $dark-background-color;
  margin-bottom: 20px;

  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;

    a {
      color: $light-text-color;

      &:hover {
        color: $primary-color;
      }
    }

    nav ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 0.5rem;
      padding: 0;
      margin: 0;

      li {
        background-color: $dark-background-color;
        border-radius: 10px;
        cursor: pointer;
        transition: $main-transition;
        overflow: hidden;
        width: 50px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        transition: $main-transition;

        a {
          color: $light-text-color !important;
        }

        &:hover {
          width: 200px;
        }

        a.nav-link {
          font-size: 16px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          grid-gap: 30px;
          gap: 35px;
          transition: ease-in-out 0.25s;
          padding: 15px;

          &.active {
            color: $primary-color !important;

            i {
              color: $primary-color !important;
            }
          }

          i {
            font-size: 20px;
            color: $light-text-color;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .header-container .primary-button {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  header nav {
    width: 100%;

    ul {
      flex-direction: column;

      li {
        gap: 20px;

        a {
          width: 100%;
        }
      }
    }
  }

  header nav ul li,
  header nav ul li:hover,
  header nav ul li a.nav-link.active {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  header nav {
    width: 98%;
    margin: 0 auto;
  }
}
