@import "../../../Variables.scss";

.game-created {
  .img-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
      max-width: 150px;
    }
  }

  .text-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .game-created {
    .text-col {
      gap: 20px;
      align-items: center;
      text-align: center;
    }
  }
}
