@import "../../../Variables.scss";

.game-created {
  .img-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
      max-width: 10rem;
    }
  }

  .text-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
  }
}

@media screen and (max-width: 998px) {
  .game-created {
    .img-col {
      display: none;
    }
    .text-col {
      gap: 1rem;
    }
  }
}
